@use '@angular/material' as mat;
@use './variables' as *;
@use './typography' as *;
@use './utilities' as *;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
